* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}
header {
	font-size: 12px;
}
.header-nav {
	text-decoration: none;
	display : inline-block;
	width : 76%;
}
.header-nav li {
	display : inline-block;
	width : 100px;
	line-height: 30px;
	text-align: center;
}
.header-nav li:hover {
	background: black;
	color: white;
}
.header-settings {
	text-decoration: none;
	display : inline-block;
}
.header-settings li {
	display : inline-block;
	width : 100px;
	line-height: 30px;
	text-align: center;
	position : relative;
}
.header-icon1{
	width : 15px;
	height : 15px;
	position : absolute;
	top : 8px;
	right : 70px;
}
.header-icon2{
	width : 15px;
	height : 15px;
	position : absolute;
	top : 7px;
	right : 85px;
}
.header-settings li a {
	text-decoration: none;
	color : black;
}
.header-searchIcon {
	width : 20px;
	height : 20px;
	border
}
.horizontal-line {
	margin-left:40px; 
	margin-right:35px;
}